/* ==========================================================================
Typography
========================================================================== */
h1, h2 {
  font-weight: 700;
  margin-top: 0rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: 'BebasNeueBold';
}

h1 {
  font-size: 5rem;
  line-height: 5.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.4rem;
  line-height: 4rem;
  font-family: 'AvenirLTStd-Medium';
  font-weight: 600;
  margin-bottom: 3rem;
  margin-top: 0rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-family: 'AvenirLTStd-Light';
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 0rem;
  text-transform: uppercase;
}

/* ==========================================================================
Base css
========================================================================== */
html {
  font-size: 62.5%;
}

body {
  font-family: 'AvenirLTStd-Light', sans-serif;
  line-height: 2.8rem;
  font-size: 1.6rem;
  color: #000;
}

img {
  max-width: 100%;
}

button:focus,
input:focus {
  outline: none;
}

a,
a:visited,
a:hover,
a:link,
a:active,
a:focus {
  text-decoration: none !important;
  margin: 0px;
  outline: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.owl-theme .owl-dots {
  margin-top: 5rem !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 70px;
  border-radius: 0;
  height: 5px;
}

/* ==========================================================================
Helpers css
========================================================================== */
@media only screen and (min-width: 1200px) {
  .container {
    width: 100% !important;
    max-width: 1380px !important;
  }
}

.full-width {
  width: 100%;
  height: auto;
}

.dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

.dis-flex > div {
  width: 50%;
}

.common {
  padding: 8rem 0px;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.desktop-dis-none,
.mobile-menu__wrap {
  display: none;
}

.vertically-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ==========================================================================
header  area css
========================================================================== */
.header-area {
  padding: 4rem 0;
}

.header-area__navigation ul li {
  display: inline-block;
}

.header-area__navigation ul a {
  display: block;
  padding: 0 2rem;
  text-transform: uppercase;
  color: #000;
}

.header-area__logo {
  display: inline-block;
}

.header-area__focial a {
  display: inline-block;
  margin: 0 0.5rem;
  background-color: #003399;
  color: #fff;
  width: 4rem;
  height: 4rem;
  line-height: 4.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
}

/* ==========================================================================
footer-area css
========================================================================== */
.footer-area {
  background-color: #003399;
}

.footer-area__single {
  color: #fff;
  font-size: 2rem;
}

.footer-area__single p {
  margin: 2rem 0 0;
}

.footer-area__single a {
  color: #fff;
  display: inline-block;
  margin-left: 1rem;
}

/* ==========================================================================
Copyright area css
========================================================================== */
.copyright-area {
  padding: 3rem 0;
  font-size: 1.5rem;
}

.copyright-area p {
  margin-bottom: 0;
}

.copyright-area__dev-link a {
  text-transform: uppercase;
  color: #000;
}

/* ==========================================================================
home page css
========================================================================== */
.slider-area .slider-area__carouse {
  position: relative;
}

.slider-area .item,
.slider-area .item > .container,
.slider-area .item > .container > .row,
.slider-area .item > .container > .row > div {
  height: 100vh;
}

.slider-area .item {
  position: relative;
}

.slider-area .item:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-clip-path: polygon(0 75%, 100% 100%, 100% 100%, 0 100%);
  clip-path: polygon(0 75%, 100% 100%, 100% 100%, 0 100%);
}

.slider-area .slider-one-bg-img1 {
  background-image: url(../images/slider-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.slider-area .slider-one-bg-img2 {
  background-image: url(../images/slider-img2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
  width: 40%;
  -webkit-clip-path: polygon(15% 1%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(15% 1%, 100% 0, 100% 100%, 0% 100%);
}

.slider-area__content {
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: inherit;
  z-index: 9999;
  font-size: 2rem;
}

.slider-area__content h1 {
  font-size: 5rem;
  margin-bottom: 0;
  line-height: 5rem;
}

.promo-area__single {
  float: left;
  width: 25%;
}

.homepage-banner-area {
  background-image: url(../images/home-banner-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
  margin: 8rem 0;
}

.homepage-banner-area__title {
  margin-top: -5rem;
  margin-bottom: 5rem;
}

.homepage-banner-area__single {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.homepage-banner-area__single img {
  margin-bottom: 2rem;
}

.homepage-banner-area__single h2 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.why-hire-us-area__title {
  margin-bottom: 7rem;
}

.why-hire-us-area__single h3 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  margin-top: 3rem;
}

.work-showcase-area__single {
  height: 50rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.work-showcase-area__single.one {
  background-image: url(../images/work-img-1.jpg);
}

.work-showcase-area__single.two {
  background-image: url(../images/work-img-2.jpg);
}

.work-showcase-area__single.three {
  background-image: url(../images/work-img-3.jpg);
}

/* ==========================================================================
story page css
========================================================================== */
.our-story-area__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 6rem;
}

.why-do-what-do {
  padding-top: 8rem;
}

.why-do-what-do p {
  padding-right: 6rem;
}

.story-banner-area-2 img {
  margin-bottom: 10rem;
}

.story-banner-area-2 p {
  padding-right: 5rem;
}

.story-banner-area-2.common {
  padding-top: 2rem;
}

/* ==========================================================================
service page css
========================================================================== */
.service-header-banner-area__small-banner {
  position: absolute;
  right: 0;
  bottom: -25rem;
}

.service-header-banner-area__small-banner img {
  display: inline-block;
  margin-right: 2rem;
}

.service-header-banner-area.common {
  padding-top: 0;
}

.service-area.common {
  padding: 2rem 0 4rem;
}

.service-area__title {
  margin-bottom: 20rem;
}

.service-area__single {
  margin-bottom: 5rem;
  min-height: 13rem;
  padding-right: 5rem;
}

.service-area__single h3 {
  font-size: 2.5rem;
  font-family: 'AvenirLTStd-Medium';
  font-weight: 500;
}

.service-area-banner-two.common {
  padding: 2rem 0;
}

.our-promise-area__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10rem;
}

/* ==========================================================================
about page css
========================================================================== */
.about-area__content, .mission-area__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-area {
  margin-bottom: 4rem;
}

.about-area__content {
  padding-right: 10rem;
}

.mission-area.common {
  padding-bottom: 4rem;
}

.mission-area__content {
  padding: 0 10rem;
}

.process-area__title {
  margin-bottom: 5rem;
}

.process-area__single {
  padding-right: 8rem;
}

.process-area__single-count {
  font-weight: 500;
  font-family: 'AvenirLTStd-Medium';
  margin-bottom: 0;
}

.process-area__single-title {
  font-family: 'AvenirLTStd-Light';
  position: relative;
  margin: 4rem 0;
}

.process-area__single-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1rem;
  height: 4px;
  width: 8rem;
  background-color: #003399;
}

/* ==========================================================================
work page css
========================================================================== */
.work-area__title {
  margin-bottom: 5rem;
}

.work-area__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-area__content h3 {
  line-height: 4.5rem;
}

/* ==========================================================================
Contact page css
========================================================================== */
.contact-area__contact-us {
  font-size: 2.5rem;
}

.contact-area__contact-us address {
  line-height: 5rem;
  margin-bottom: 8rem;
}

.contact-area__contact-us--social {
  margin-top: 5rem;
}

.contact-area__contact-us--social a {
  display: inline-block;
  margin: 0 0.5rem;
  background-color: #003399;
  color: #fff;
  width: 10rem;
  height: 10rem;
  line-height: 11rem;
  text-align: center;
  border-radius: 50%;
  font-size: 6rem;
}

.contact-area__message-form {
  width: 70%;
}

.contact-area__message-form input.form-control {
  height: 6.5rem;
  border-radius: 0;
}

.contact-area__message-form .verification {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1.8rem;
  height: 6.5rem;
  margin-right: 7%;
  width: 46%;
  text-align: center;
}

.contact-area__message-form .verification p {
  margin: 0;
}

.contact-area__message-form .verification input {
  width: 4rem;
  border: none;
}

.contact-area__message-form .submit-btn {
  height: 6.5rem;
  width: 46%;
  border-radius: 0;
}

.map-area.common {
  padding-top: 0;
}

/* ==========================================================================
mobile menu area css
========================================================================== */
.hamberger-menu {
  position: absolute;
  top: 55px;
  right: 20px;
  font-size: 30px;
  display: none;
}

.hamberger-menu:hover {
  cursor: pointer;
}

.hamberger-menu i {
  padding: 10px;
  color: #003399;
  font-size: 3.5rem;
  cursor: pointer;
}

.mobile-menu__wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #003399;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease-out 0.3s;
  transition: all 0.6s ease-out 0.3s;
}

.mobile-menu__wrap.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.6s ease-out 0.5s;
  transition: all 0.6s ease-out 0.5s;
}

.mobile-menu__header {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 100%;
}

.mobile-menu__header a {
  padding: 2rem;
  display: inline-block;
}

.close-mb-menu {
  float: right;
  padding: 10px;
  font-size: 4rem;
  margin-top: 20px;
  margin-right: 15px;
}

.mobile-menu__header img {
  width: 25rem;
}

.mobile-menu__footer {
  position: absolute;
  bottom: 5rem;
}

.mobile-menu__footer a {
  color: #fff;
  font-size: 3rem;
  padding: 10px;
}

nav.mobile ul li a {
  color: #fff;
  text-transform: uppercase;
  line-height: 5rem;
  font-weight: 600;
  font-size: 3rem;
}

i.fa.fa-times.close-mb-menu {
  color: #fff;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */