/* ==========================================================================
work page css
========================================================================== */
.work-area {
	&__title {
		margin-bottom: 5rem;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		h3 {
			line-height: 4.5rem;
		}
	}
}
