/* ==========================================================================
story page css
========================================================================== */

.our-story-area {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: 6rem;
	}
}
.why-do-what-do {
	padding-top: 8rem;
	p {
		padding-right: 6rem;
	}
}
.story-banner-area-2 {
	img {
		margin-bottom: 10rem;
	}
	p {
		padding-right: 5rem;
	}
}
.story-banner-area-2.common {
	padding-top: 2rem;
}
