/* ==========================================================================
header  area css
========================================================================== */
.header-area {
	padding: 4rem 0;

	&__navigation {
		ul {
			li {
				display: inline-block;
			}
			a {
				display: block;
				padding: 0 2rem;
				text-transform: uppercase;
				color: $color_black;
			}
		}
	}

	&__logo {
		display: inline-block;
	}

	&__focial {
		a {
			display: inline-block;
			margin: 0 0.5rem;
			background-color: $theme_color;
			color: $color_white;
			width: 4rem;
			height: 4rem;
			line-height: 4.5rem;
			text-align: center;
			border-radius: 50%;
			font-size: 2rem;
		}
	}
}
